html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #db694a;
}

.container {
  display: flex;
  height: 100%;
}

.text-input,
.image-section,
.code-output {
  flex: 1;
  padding: 10px;
  display: block;
}

.text-input textarea,
.code-output textarea {
  width: 100%;
  height: 90%;
  resize: none;
  border-radius: 10px;
}

.image-section {
  position: relative;
}

.image-section img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.navbar {
  background-color: #db694a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.navbar-button:hover {
  text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #db694a;
  min-width: 10px;
  max-width: 100;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0; /* Remove padding from top and bottom */
  z-index: 1;
  border-radius: 10px;

}

.dropdown-item {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 16px; /* Add padding to the left and right */
  display: block; /* Display as block to appear one per line */
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.dropdown-item:hover {
  background-color: #db694a;
  color: white; /* Change text color on hover */
}
